body {
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-note-music-logo-watercolor-background-picture-image_1589075.jpg);
  background-repeat: repeat;
}

img {
  width: 100%;
  height: auto;
}

header {
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, #5e60ce, #0077b6);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

h2,
p {
  text-align: center;
}

/* GRID STYLING */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-item {
  box-shadow: 1px 1px 8px;
  padding: 0.85em;
  background-color: #8ecddd;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 1em;
}

/* SEARCH STYLING */
.search-grid {
  display: flex;
  justify-content: center;
  padding: 1em;
}

#searchbar {
  margin: 0em auto;
  width: 100%;
  max-width: 350px;
  padding: 0.5em;
  border: 2px solid black;
}

#create-artist-button, #create-album-button, #create-track-button{
  margin-left: 0.9%;
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  border: 2px solid;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 7.5%;
  max-width: 320px;
  border-radius: 3%;
  border: 2px solid black;
}

.update-artist-button, .artist-delete-button, .update-album-button, .album-delete-button, .track-update-button, .track-delete-button {
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  border: 2px solid;
  color: var(--text-color-light);

  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  max-width: 380px;
  border-radius: 3%;
  border: 2px solid black;
}

dialog {
  border-color: var(--navy);
  position: fixed;
 
  max-height: 88vh;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

h1{
  text-align: center;
}

button{
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  border: 2px solid;
  color: var(--text-color-light);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  max-width: 380px;
  border-radius: 3%;
  border: 2px solid black;
}

 #create-artist-form, #update-artist-form, #create-album-form, #update-album-form {
  padding: 1em 2em;
  font-size: larger;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  align-items: center;
  gap: 3px;
}

#create-track-form, #update-track-form{
  padding: 1em 2em;
  font-size: larger;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  align-items: center;
  gap: 3px;
}

#delete-track-form, #delete-artist-form, #delete-album-form{
  padding: 1em 3em 2em;

  font-size: larger;

  grid-template-columns: 1fr 2fr;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.update-album-button, .album-delete-button, .update-artist-button, .artist-delete-button, .track-update-button, .delete-track-button {
  font-weight: 300;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  border: 2px solid;
  color: var(--text-color-light);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.4em 0.7em;
  max-width: 380px;
  border-radius: 3%;
  border: 1.5px solid black;
  margin: 0 auto; /* Add this line to center the buttons */
}